* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: white;
  color: #000;
}

menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

[role=button], button {
  cursor: pointer;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

button, select {
  text-transform: none;
}

a {
  color: inherit;
  text-decoration: none;
}

main header {
  border-bottom: 1px solid #d7d7d7;
}

.hamburger {
  aspect-ratio: 1/1;
  max-width: 32px;
  min-width: 32px;
  width: 100%;
  border: none;
}

.hamburger span, .hamburger span:after, .hamburger span:before {
  background-color: #4b4b4b;
  display: block;
}

.hamburger span {
  height: 3px;
  position: relative;
  width: 80%;
}

.hamburger span:before {
  top: -8px;
}

.hamburger span:after, .hamburger span:before {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

.hamburger, .ms_all__5dW1o {
  align-items: center;
  display: flex;
  justify-content: center;
}

.hamburger span:after {
  top: 8px;
}

.hamburger span:after, .hamburger span:before {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}

header>nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
}

header>nav>div {
  display: flex;
  align-items: center;
}

header>nav .logo {
  font-weight: 700;
  font-size: 20px;
  margin-left: 12px;
}



.search_form {
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 24px;
  display: flex;
  min-width: 500px;
  max-width: 90%;
  min-height: 48px;
}



.search_input__tEifi {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 0 0 0 24px;
  z-index: 1;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 45px;
}

.search_input__tEifi:focus {
  border: none;
}

.search_input__tEifi:focus-visible {
  border: none;
  outline: none;
}

.search_input__tEifi, .search_submit__AlnBT {
  color: #000;
}

.search_submit__AlnBT svg {
  font-size: 20px;
}

.search_submit__AlnBT {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 72px;
  position: relative;
  width: 100%;
  border-left: 1px solid #d9d8d8;
  height: 45px;
}

.search_submit__AlnBT:before {
  background-color: var(--search-line);
  content: "";
  height: 36px;
  left: 0;
  width: 1px
}

.user_auth_btn {
  display: flex;
}

.user_auth_btn a {
  align-items: center;
  background-color: #4866E2;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  gap: 8px;
  justify-content: center;
  line-height: 1;
  max-width: 180px;
  min-height: 48px;
  min-width: 125px;
  transition: all .25s ease-in-out;
  width: 100%;
}

.user_auth_btn a:first-child {
  background: none;
  color: #000;
}

ul.menu {
  display: flex;
  height: 100%;
  list-style: none;
  padding: 0 50px;
}

ul.menu li {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  position: relative;
  margin-left: -15px;
}

ul.menu li a {
  align-items: center;
  color: #484848;
  display: flex;
  height: 100%;
  padding: 20px 25px;
  white-space: nowrap;
  font-size: 1rem;
}

.box {
  padding: 40px;
  background: #FFFFFF;
  border-radius: 24px;
}

.box h2 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #121212;
}

.box .grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

.box .grid .item {
  position: relative;
  text-align: left;
  padding: 24px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 12px;
  transition: all .3s;
}

.box .grid .item .tool-image {
  width: 65px;
}

.box .grid .item h3 {
  margin-top: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #121212;
}

.box .grid .item .desc {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-line-clamp: 2;
  font-size: 14px;
  line-height: 18px;
  color: rgba(60, 60, 67, 0.6);
}

.box .grid .item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

footer {
  padding: 40px;
  background-color: #f1f3f4;
}

.footer_links {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  border-top-color: #e6e6e6;
  border-top-width: 1px;
  row-gap: 2rem;
  gap: 0.5rem;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
}

.footer_links>div {
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .footer_links>div {
    flex-basis: calc(33% - 8px);
  }
}

@media (min-width: 1024px) {
  .footer_links>div {
    flex-basis: calc(25% - 8px);
  }
}

@media (min-width: 1280px) {
  .footer_links>div {
    flex-basis: calc(20% - 8px);
  }
}

.footer_links h3 {
  color: var(--text-dark);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer_links ul {
  flex-direction: column;
  display: flex;
}

.footer_links ul li a {
  color: #4b4b4b;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  display: block;
}

.follow_sec {
  padding-bottom: 2rem;
  padding-top: 2rem;
  gap: 2rem;
  align-items: center;
  display: flex;
}

.follow_sec>span {
  color: var(--text-dark);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.follow_sec>ul {
  gap: 2rem;
  align-items: center;
  display: flex;
}

.follow_sec>ul a {
  color: #4b4b4b;
  text-decoration: inherit;
}

.follow_sec svg {
  --size: 24px;
  align-items: center;
  display: flex;
  height: var(--size);
  justify-content: center;
  max-width: var(--size);
  min-width: var(--size);
  width: 100%;
}

.footer_bottom {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  border-top-color: var(--clr-border);
  border-top-width: 1px;
  gap: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

@media (min-width: 768px) {
  .footer_bottom {
    padding-top: 2rem;
  }

  .footer_bottom {
    padding-bottom: 3rem;
  }

  .footer_bottom {
    gap: 2rem;
  }
}

.footer_bottom .logo {
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  display: flex;
}

.footer_bottom .logo>a {
  display: flex;
  grid-area: header-main-left;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
}

.footer_bottom .logo>a {
  font-weight: 700;
  font-size: 20px;
}

.footer_bottom ul {
  row-gap: 0.5rem;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.footer_bottom ul li a {
  color: #4b4b4b;
  font-size: .875rem;
  line-height: 1.25rem;
  white-space: nowrap;
}

.footer_bottom .dark_light_icon {
  display: none;
  margin-left: auto;
  margin-left: auto !important;
}

@media (min-width: 768px) {
  .footer_bottom .dark_light_icon {
    display: block;
  }
}

.footer_bottom .dark_light_icon button {
  color: #000;
  background-color: #dedede;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 3rem;
  aspect-ratio: 1/1;
  display: flex;
  border: none;
}

@media (max-width: 1024px) {
  .search_form {
    min-width: 400px;
    justify-content: space-between;
  }

  .search_input__tEifi {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 0 0 0 24px;
    z-index: 1;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 45px;
  }

  .search_submit__AlnBT {
    max-width: 59px;
  }
}

@media (min-width: 992px) {
  .responsive_search {
    display: none;
  }
}

@media (max-width: 1599px) {
  ul.menu li a {
    padding: 20px 19px;
    font-size: 0.9rem;
  }

  ul.menu {
    padding: 0 30px;
  }
}

@media (max-width: 1299px) {

  ul.menu {
    display: none;
  }

  .box .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 991px) {
  .user_auth_btn, .search_form {
    display: none;
  }

  .responsive_search svg {
    font-size: 25px;
    fill: currentColor;
  }

  header>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 40px;
  }

  .box .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .box .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .box .grid .item h3 {
    margin-top: 20px;
    font-size: 16px;
    line-height: 0.2;
  }

  .box .grid .item .tool-image {
    width: 45px;
  }
}

@media (max-width: 575px) {
  .box {
    padding: 20px;
  }

  .box .grid {
    gap: 15px;
  }

  .box .grid .item {
    padding: 20px;
  }

  .box .grid .item h3 {
    margin-top: 12px;
    font-size: 15px;
    line-height: 1;
  }

  .box .grid .item .desc {
    margin-top: 7px;
    font-size: 13px;
  }
}

.footer_bottom .dark_light_icon button svg {
  font-size: 20px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}